{% extends 'base.html.twig' %}

{% block title %}Tricks {{ controller_name }}!{% endblock %}

{% block body %}
<h1>Liste des Tricks</h1>

{% for Trick in Tricks %}
<article>
    <h2> {{ Tricks.Name }}</h2>
    <div class="content">
        {{ Tricks.Description | raw}}
    </div>
</article>
{% endfor %}

{% endblock %}
